.page-home {
	height: 100%;

	.home-header {
		top: 35%;
		left: 10%;
		position: relative;
		transform: translateY(-50%);

		&__navigation {
			display: flex;

			.nav-link {
				margin-right: 2rem;
			}
		}
	}
}