// import React from 'react';
// import { withRouter } from 'next/router';

// class ErrorPage extends React.Component {
// 	static propTypes() {
// 		return {
// 			errorCode: React.PropTypes.number.isRequired,
// 			url: React.PropTYpes.string.isRequired
// 		}
// 	}

// 	static getInitialProps({res, xhr}) {
// 		const errorCode = res ? res.statusCOde : (xhr ? xhr.status : null)
// 		return {errorCode}
// 	}

// 	render() {
// 		var response
// 		switch (this.props.errorCode) {
// 			case 200:
// 				response = (
// 					<div>200 {this.props.router.pathname}</div>
// 				)
// 				break;
// 			case 404: 
// 				response = (
// 					<div>404 {this.props.router.pathname}</div>
// 				)
// 				break;
// 			case 500: 
// 				response = (
// 					<div>500 {this.props.router.pathname}</div>
// 				)
// 				break;
// 			default: 
// 				response = (
// 					<div>default {this.props.router.pathname}</div>
// 				)
// 		}
// 		return response
// 	}
// }

// export default withRouter(ErrorPage);
